@()
@main("Call API by CORS") {
    <div>
        <p>ID  : <span id="user_id"></span></p>
        <p>Name: <span id="user_name"></span></p>
    </div>
    <input type="button" onclick="putUser()" value="PUT">
    <input type="button" onclick="postUser()" value="POST">
    <script>
        function request(method, url, send) {
            var xhr = new XMLHttpRequest();
            xhr.open(method, url);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    try {
                        var user = JSON.parse(xhr.responseText);
                        console.log(user);
                        document.getElementById("user_id").innerText = user.id;
                        document.getElementById("user_name").innerText = user.name;
                    } catch (e) {
                        console.log(e);
                        alert(e.message);
                    }
                }
            };
            xhr.onerror = function (e) {
                console.error(e);
                console.error(xhr);
                alert("Error!");
            };
            send(xhr);
        }

        function putUser() {
            request("PUT", "http://api.mofu.poyo/cors_users/1000", function (xhr) {
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send("name=mofutan");
            });
        }
        function postUser() {
            request("POST", "http://api.mofu.poyo/cors_users", function (xhr) {
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                xhr.send("name=shinzan");
            });
        }
    </script>
}
