@()
@main("Call API by domain overwriting") {
    <div>
        <p>ID  : <span id="user_id"></span></p>
        <p>Name: <span id="user_name"></span></p>
    </div>
    <input type="button" onclick="call()" value="Click">
    <script>
        function call() {
            document.domain = "mofu.poyo";
            try {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://mofu.poyo/users/334", false);
                xhr.send(null);
                var user = JSON.parse(xhr.responseText);
                console.log(user);
                document.getElementById("user_id").innerText = user.id;
                document.getElementById("user_name").innerText = user.name;
            } catch (e) {
                alert(e.message);
            }
        }
    </script>
}
