@()
@main("Call API through postMessage") {
    <div>
        <iframe src="http://other.mofu.poyo/postmessage/inner_call_api" frameborder="1" width="600" height="100" id="frame"></iframe>
    </div>
    <div>
        <p>ID  : <span id="user_id"></span></p>
        <p>Name: <span id="user_name"></span></p>
    </div>
    <input type="button" value="Click" onclick="call()">
    <div id="out"></div>
    <script>
        function call() {
            var window = document.getElementById("frame").contentWindow;
            window.postMessage("334", "http://other.mofu.poyo");
        }

        window.addEventListener(
            "message",
            function(e) {
                console.log(e);
                if (e.origin == "http://other.mofu.poyo") {
                    var user = JSON.parse(e.data);
                    console.log(user);
                    document.getElementById("user_id").innerText = user.id;
                    document.getElementById("user_name").innerText = user.name;
                } else {
                    alert("Message from " + e.origin + " to the outer window.");
                }
            },
            false
        );
    </script>
}
